.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--accent);

    border: none;
    outline: none;
    box-shadow: none;

    border-radius: 5px;
    padding: 15px 24px;

    transition: var(--transition-300);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;

    &:hover {
        box-shadow: 2px 2px 10px 3px #e6a940;
    }
}
