.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-transform: capitalize;
    color: var(--white);
    background-color: var(--accent);

    border: none;
    outline: none;
    box-shadow: none;

    border-radius: 5px;
    padding: 15px 24px;

    transition: var(--transition-300);
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;

    &.animated {
        animation: buttonAnimation 1.5s infinite linear;

        &:hover {
            animation-play-state: paused; /* зупиняє анімацію при наведенні */
        }
    }

    &:hover {
        box-shadow: 2px 2px 10px 3px #e6a940;
    }
}

.clear-btn {
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    transition: var(--transition-300);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:hover,
    &:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

@keyframes buttonAnimation {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 2px 2px 10px 3px #e6a940;
    }

    100% {
        box-shadow: none;
    }
}
