:root {
    --accent: #f59b00;
    --accent-alpha: rgba(245, 155, 0, 0.9);
    --accent-2: rgb(50, 93, 85);
    --accent-3-alpha: rgba(67, 154, 138, 0.75);
    --dark: rgb(47, 47, 47);
    --white: rgb(255, 255, 255);
    --white-25: rgba(255, 255, 255, 0.25);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-35: rgba(255, 255, 255, 0.35);
    --bg-color-92: rgba(47, 47, 47, 0.92);
    --bg-color-95: rgba(47, 47, 47, 0.95);
    --bg-color-60: rgba(47, 47, 47, 0.6);

    --transition-300: 300ms;
}
