*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark);

    &.is-blocked {
        overflow: hidden;
    }
}

.dn {
    display: none;
}
.logo {
    display: block;
    img {
        max-height: 50px;
    }
}
.title {
    font-weight: 700;
    font-size: 31px;
    line-height: 140%;
    // text-transform: capitalize;
    color: var(--dark);

    @media screen and (max-width: 767.9px) {
        font-size: 28px;
        line-height: 120%;
    }
    @media screen and (max-width: 359.9px) {
        font-size: 24px;
    }
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--accent);

    margin-bottom: 10px;

    @media screen and (max-width: 767.9px) {
        font-size: 18px;
        line-height: 130%;
    }
    @media screen and (max-width: 359.9px) {
        font-size: 16px;
    }
}
.txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    // text-transform: capitalize;
    color: var(--dark);
    opacity: 0.9;

    @media screen and (max-width: 359.9px) {
        font-size: 14px;
    }

    span {
        font-weight: 600;
    }
}
.icon20 {
    width: 20px;
    height: 20px;
}
.icon24 {
    width: 24px;
    height: 24px;
}
