.contact-us {
    &__content {
        background-color: var(--bg-color-95);
        box-shadow: 0 0 30px 4px rgba(232, 232, 232, 0.4);
        border-radius: 10px;
        overflow: hidden;

        display: flex;
        align-items: center;
    }

    &__left {
        flex-basis: 43%;
        flex-shrink: 0;

        position: relative;

        img {
            width: 100%;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: var(--bg-color-60);
    }

    &__right {
        flex-basis: 57%;
        flex-shrink: 0;

        padding: 0 70px;
        color: var(--white);
    }
}
