.footer {
    background-color: var(--bg-color-92);
    color: var(--white);

    .container {
        padding: 96px 0;
        @media screen and (max-width: 1023.9px) {
            padding: 40px 0;
        }
    }

    &__content {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        @media screen and (max-width: 1023.9px) {
            flex-wrap: wrap;
        }
        @media screen and (max-width: 767.9px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__brand {
        @media screen and (max-width: 1023.9px) {
            margin-right: auto;
        }
    }

    &__logo {
        margin-bottom: 19px;
    }

    &__txt {
        max-width: 280px;
        color: var(--white);
        @media screen and (max-width: 767.9px) {
            max-width: auto;
        }
    }

    &__categories {
        @media screen and (max-width: 1023.9px) {
            order: 3;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;

        margin-bottom: 20px;

        @media screen and (max-width: 767.9px) {
            margin-bottom: 12px;
        }
    }

    &__list {
        display: flex;
        gap: 10px;
        flex-direction: column;

        &.contacts-list {
            gap: 24px;
            @media screen and (max-width: 767.9px) {
                gap: 12px;
            }
        }
    }
    &__list-item {
        position: relative;

        &.olx-prom {
            padding-left: 16px;
        }

        &.olx-prom::before {
            display: block;
            content: "";

            width: 6px;
            height: 6px;
            background-color: var(--accent);
            transform: rotate(45deg) translateY(-50%);

            position: absolute;
            top: 50%;
            left: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 36px;
        }
        svg {
            color: var(--accent);
        }
        span {
            color: var(--white);
            opacity: 0.7;
            transition: var(--transition-300);
        }

        &:hover,
        &:focus {
            span {
                opacity: 1;
            }
        }
    }

    &__contacts {
    }

    .divider {
        height: 1px;
        width: 100%;
        background-color: var(--white-35);
        margin: 20px 0;
    }
    .all-rights {
        text-align: center;
        opacity: 0.7;
    }
}
