.header {
    height: 56px;

    position: absolute;
    top: 30px;
    left: 0;
    right: 0;

    .container {
        height: 100%;

        display: flex;
        align-items: center;
        gap: 90px;
    }

    &__logo {
        padding-top: 6px;
    }
    &__nav {
        margin-left: auto;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav-list-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__nav-link {
        color: var(--white);
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        opacity: 0.8;

        transition: var(--transition-300);

        &:hover,
        &:focus {
            opacity: 1;
        }

        &.active {
            opacity: 1;
        }
    }
}
